@font-face {
	font-family: 'Nunito';
	src: url('/fonts/nunito/Nunito-VariableFont_wght.ttf') format('truetype');
}

:root {
	/* Fonts */
	--font-family-nunito: Nunito, sans-serif, Helvetica, Verdana;

	/* Font sizes */
	--font-size-xs: clamp(0.6rem, calc(0.58rem + 0.09vw), 0.67rem);
	--font-size-sm: clamp(0.75rem, calc(0.71rem + 0.18vw), 0.89rem);
	--font-size-md: clamp(0.94rem, calc(0.88rem + 0.31vw), 1.19rem);
	--font-size-lg: clamp(1.17rem, calc(1.07rem + 0.51vw), 1.58rem);
	--font-size-xl: clamp(1.47rem, calc(1.3rem + 0.81vw), 2.11rem);
	--font-size-2xl: clamp(1.83rem, calc(1.59rem + 1.23vw), 2.81rem);
	--font-size-3xl: clamp(2.29rem, calc(1.92rem + 1.83vw), 3.75rem);
	--font-size-4xl: clamp(2.86rem, calc(2.33rem + 2.67vw), 5rem);
	--font-size-5xl: clamp(3.58rem, calc(2.8rem + 3.86vw), 6.66rem);

	/* Colours */
	--color-ice_cream: #fafafa;
	--color-light_sky_purple: #d2d2e6;
	--color-rosy_red: #ff9191;
	--color-burly_wood: #deb887;
	--color-calm_blue: #8aa6d5;
	--color-jet_blue: #1e55af;
	--color-blood_red: #731010;
	--color-dark_grey: #1d1d20;
	--color-dark_navy: #050a23;
	--color-dark_navy_grey: #050a3c;
	--color-very_dark_grey: #121212;

	/* Themes */
	--light-theme-bg: var(--color-ice_cream);
	--light-theme-text: var(--color-very_dark_grey);
	--light-theme-strong: var(--color-jet_blue);

	/* Cothemes */
	--dark-theme-bg: var(--color-very_dark_grey);
	--dark-theme-text: var(--color-ice_cream);
	--dark-theme-strong: var(--color-calm_blue);
}

*,
::before,
::after {
	box-sizing: border-box;
	border: 0 solid transparent;
}

.g-theme {
	--theme-bg: var(--light-theme-bg);
	--theme-text: var(--light-theme-text);
	--theme-strong: var(--light-theme-strong);
}

.g-cotheme {
	--theme-bg: var(--dark-theme-bg);
	--theme-text: var(--dark-theme-text);
	--theme-strong: var(--dark-theme-strong);
}

body {
	padding: 0;
	margin: 0;

	font-size: var(--font-size-md);
	font-family: var(--font-family-nunito);

	text-size-adjust: 100%;
	tab-size: 2;

	color: var(--theme-text);
	background: var(--theme-bg);
}

strong {
	font-weight: normal;
	color: var(--theme-strong);
}

a {
	color: var(--theme-strong);
	text-decoration: none;
	cursor: pointer;
}

a:hover {
	text-underline-offset: 0.3rem;
	text-decoration: underline;
}
